html
	head
		meta(name='viewport', content='width=device-width')
		link(href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css" rel="stylesheet")
		link(href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(href="dist/css/main.css" rel="stylesheet")
	body
		block header
		block content
		block foot
		block scripts
			script(src='dist/scripts/jquery.min.js')
			script(src='dist/scripts/materialize.min.js')
			script(src='dist/scripts/main.js')