extends layout/master.jade

block header

block content
	style.
		
	.main
		.page--full.row(style="width: 600px; margin-top: 10%; margin-left: 5%; padding: 3% 2%")
			h5 Task Title
			p 
				a(href="") Prototype 1
				cite
					a(href="")