extends layout/master.jade

block content
  .buy_user.lang-en.country-se.version-new.isMac.gecko.isRetina
    .contentintro.order.container-fluid.mg-bottom-10
      #nav--order-steps
        .order--steps-nav
          .order--step-product.step-active
            span
              | 1. Product
          .order--step-customer.step-inactive
            span
              | 2. Customer Info
          .order--step-checkout.step-inactive
            span
              | 3. Checkout
          .order--step-completed.step-inactive
            span
              | 4. Completed
        .order--steps-next
          input(name="changeSize" id="btnToCheckout" class="btn purple domain_checkout_btn" value="Continue" style="height: 56px; width: 161px;" type="submit")

      #order--step-details
        .order--step-content
          .contentintro-content
            .order--details-product
              h3.box-header Review your basket
              .order--details-voucher Do you have a voucher code?
              #order--domain-list
              
              //- .order--details-summary
              //-   p Total excl VAT  <em>EUR 32.00</em>
              //-   p +25% VAT <em>EUR 8.00</em>
              //-   p Total incl VAT <em>EUR 40.00</em>
          .order--extra-features
            h2 Add extra features
            .order--extra-items
              img(src='dist/images/signup/addon-Backup-restore-icon.svg')
              h3 Backup & Restore
              p Protect your website, email and databases with daily, automatic backup. Restore lost and broken files with a click! <a href="/">Learn more</a>
              .order--extra-add
                button.order--extra-select(value="Backup") Add
              .order--extra-promo
                span.free-trial Free Trial
                span EUR 10.00/month per domain
            .order--extra-items
              img(src='dist/images/signup/addon-Webshop-icon.svg')
              h3 Webshop
              p Start your own online store today - fully featured and easy-to-use. Includes Backup & Restore and Website Builder Premium. <a href="/">Learn more</a>
              .order--extra-add
                button.order--extra-select(value="Webshop") Add
              .order--extra-promo
                span
                span EUR 10.00/month per domain
            .order--extra-items
              img(src='dist/images/signup/addon-Webshop-icon.svg')
              h3 Sitelock - Find
              p Defend your website against hackers. SiteLock automatically scans your site every day to keep it malware free. <a href="/">Learn more</a>
              .order--extra-add
                button.order--extra-select(value="Sitelock") Add
              .order--extra-promo
                span
                span EUR 10.00/month per domain
          .order--match-available
            h2 Matching Domains Available <span>?</span>
            .order--match-items
              .order--match-item
                button.order--domain-select Add
                em forup.bargain
                em EUR 20.00  
            .order--match-items
              .order--match-item
                button.order--domain-select Add
                em forup.ninja
                em EUR 20.00  
            .order--match-items
              .order--match-item
                button.order--domain-select Add
                em forup.education
                em EUR 20.00  
            .order--match-search
              h2 Find a better domain name
              br
              //- input#match-search(type="text" placeholder="Search domain here")
              //- button(type="submit" name="domain" class="browser-search-button")
              .search--large.search--blue.search--flex
                input(name='extraDomainName', placeholder='or search domain here', autocomplete='off', type='text')
                select#domainSuffix.hide(name='extraDomainSuffix')
                  // <option value="ALL">All</option>
                  option(value='.com') .com
                  option(value='.one') .one
                  option(value='.net') .net
                  option(value='.org') .org
                  option(value='.co') .co
                  option(value='.biz') .biz
                  option(value='.info') .info
                  option(value='.academy') .academy
                  option(value='.accountants') .accountants
                  option(value='.actor') .actor
                  option(value='.ae') .ae
                  option(value='.ag') .ag
                  option(value='.agency') .agency
                  option(value='.archi') .archi
                  option(value='.asia') .asia
                  option(value='.associates') .associates
                  option(value='.at') .at
                  option(value='.audio') .audio
                  option(value='.bar') .bar
                  option(value='.bargains') .bargains
                  option(value='.bayern') .bayern
                  option(value='.be') .be
                  option(value='.beer') .beer
                  option(value='.best') .best
                  option(value='.bid') .bid
                  option(value='.bike') .bike
                  option(value='.bio') .bio
                  option(value='.black') .black
                  option(value='.blackfriday') .blackfriday
                  option(value='.blue') .blue
                  option(value='.boutique') .boutique
                  option(value='.brussels') .brussels
                  option(value='.build') .build
                  option(value='.builders') .builders
                  option(value='.buzz') .buzz
                  option(value='.bz') .bz
                  option(value='.bzh') .bzh
                  option(value='.ca') .ca
                  option(value='.cab') .cab
                  option(value='.camera') .camera
                  option(value='.camp') .camp
                  option(value='.capital') .capital
                  option(value='.cards') .cards
                  option(value='.career') .career
                  option(value='.careers') .careers
                  option(value='.cash') .cash
                  option(value='.catering') .catering
                  option(value='.cc') .cc
                  option(value='.center') .center
                  option(value='.ceo') .ceo
                  option(value='.ch') .ch
                  option(value='.cheap') .cheap
                  option(value='.christmas') .christmas
                  option(value='.church') .church
                  option(value='.claims') .claims
                  option(value='.cleaning') .cleaning
                  option(value='.click') .click
                  option(value='.clothing') .clothing
                  option(value='.club') .club
                  option(value='.co.uk') .co.uk
                  option(value='.codes') .codes
                  option(value='.coffee') .coffee
                  option(value='.cologne') .cologne
                  option(value='.com.mx') .com.mx
                  option(value='.com.pt') .com.pt
                  option(value='.community') .community
                  option(value='.company') .company
                  option(value='.computer') .computer
                  option(value='.condos') .condos
                  option(value='.construction') .construction
                  option(value='.consulting') .consulting
                  option(value='.contractors') .contractors
                  option(value='.cooking') .cooking
                  option(value='.cool') .cool
                  option(value='.country') .country
                  option(value='.credit') .credit
                  option(value='.creditcard') .creditcard
                  option(value='.cruises') .cruises
                  option(value='.cymru') .cymru
                  option(value='.cz') .cz
                  option(value='.dance') .dance
                  option(value='.dating') .dating
                  option(value='.de') .de
                  option(value='.democrat') .democrat
                  option(value='.dental') .dental
                  option(value='.diamonds') .diamonds
                  option(value='.diet') .diet
                  option(value='.digital') .digital
                  option(value='.direct') .direct
                  option(value='.directory') .directory
                  option(value='.discount') .discount
                  option(value='.dk') .dk
                  option(value='.domains') .domains
                  option(value='.education') .education
                  option(value='.email') .email
                  option(value='.engineering') .engineering
                  option(value='.enterprises') .enterprises
                  option(value='.equipment') .equipment
                  option(value='.estate') .estate
                  option(value='.eu') .eu
                  option(value='.events') .events
                  option(value='.exchange') .exchange
                  option(value='.expert') .expert
                  option(value='.exposed') .exposed
                  option(value='.fail') .fail
                  option(value='.farm') .farm
                  option(value='.finance') .finance
                  option(value='.fish') .fish
                  option(value='.fishing') .fishing
                  option(value='.fitness') .fitness
                  option(value='.flights') .flights
                  option(value='.florist') .florist
                  option(value='.flowers') .flowers
                  option(value='.foundation') .foundation
                  option(value='.fr') .fr
                  option(value='.fund') .fund
                  option(value='.furniture') .furniture
                  option(value='.futbol') .futbol
                  option(value='.gallery') .gallery
                  option(value='.gift') .gift
                  option(value='.glass') .glass
                  option(value='.graphics') .graphics
                  option(value='.gratis') .gratis
                  option(value='.gripe') .gripe
                  option(value='.guide') .guide
                  option(value='.guitars') .guitars
                  option(value='.guru') .guru
                  option(value='.help') .help
                  option(value='.hiphop') .hiphop
                  option(value='.holdings') .holdings
                  option(value='.holiday') .holiday
                  option(value='.horse') .horse
                  option(value='.house') .house
                  option(value='.immobilien') .immobilien
                  option(value='.in') .in
                  option(value='.industries') .industries
                  option(value='.ink') .ink
                  option(value='.institute') .institute
                  option(value='.insure') .insure
                  option(value='.international') .international
                  option(value='.investments') .investments
                  option(value='.it') .it
                  option(value='.jetzt') .jetzt
                  option(value='.kaufen') .kaufen
                  option(value='.kim') .kim
                  option(value='.kitchen') .kitchen
                  option(value='.kiwi') .kiwi
                  option(value='.koeln') .koeln
                  option(value='.land') .land
                  option(value='.lease') .lease
                  option(value='.li') .li
                  option(value='.life') .life
                  option(value='.lighting') .lighting
                  option(value='.limo') .limo
                  option(value='.link') .link
                  option(value='.loans') .loans
                  option(value='.lol') .lol
                  option(value='.london') .london
                  option(value='.maison') .maison
                  option(value='.management') .management
                  option(value='.marketing') .marketing
                  option(value='.me') .me
                  option(value='.me.uk') .me.uk
                  option(value='.media') .media
                  option(value='.menu') .menu
                  option(value='.mobi') .mobi
                  option(value='.moda') .moda
                  option(value='.mom') .mom
                  option(value='.mx') .mx
                  option(value='.nagoya') .nagoya
                  option(value='.name') .name
                  option(value='.ninja') .ninja
                  option(value='.nl') .nl
                  option(value='.nu') .nu
                  option(value='.onl') .onl
                  option(value='.org.uk') .org.uk
                  option(value='.paris') .paris
                  option(value='.partners') .partners
                  option(value='.parts') .parts
                  option(value='.photo') .photo
                  option(value='.photography') .photography
                  option(value='.photos') .photos
                  option(value='.pics') .pics
                  option(value='.pictures') .pictures
                  option(value='.pink') .pink
                  option(value='.pl') .pl
                  option(value='.place') .place
                  option(value='.plumbing') .plumbing
                  option(value='.pm') .pm
                  option(value='.productions') .productions
                  option(value='.properties') .properties
                  option(value='.property') .property
                  option(value='.pt') .pt
                  option(value='.pub') .pub
                  option(value='.qpon') .qpon
                  option(value='.re') .re
                  option(value='.recipes') .recipes
                  option(value='.red') .red
                  option(value='.reisen') .reisen
                  option(value='.rentals') .rentals
                  option(value='.repair') .repair
                  option(value='.report') .report
                  option(value='.republican') .republican
                  option(value='.rest') .rest
                  option(value='.reviews') .reviews
                  option(value='.rio') .rio
                  option(value='.rocks') .rocks
                  option(value='.rodeo') .rodeo
                  option(value='.schule') .schule
                  option(value='.se') .se
                  option(value='.services') .services
                  option(value='.sexy') .sexy
                  option(value='.shiksha') .shiksha
                  option(value='.shoes') .shoes
                  option(value='.singles') .singles
                  option(value='.solar') .solar
                  option(value='.solutions') .solutions
                  option(value='.supplies') .supplies
                  option(value='.supply') .supply
                  option(value='.support') .support
                  option(value='.surf') .surf
                  option(value='.surgery') .surgery
                  option(value='.systems') .systems
                  option(value='.tattoo') .tattoo
                  option(value='.tax') .tax
                  option(value='.technology') .technology
                  option(value='.tf') .tf
                  option(value='.tienda') .tienda
                  option(value='.tips') .tips
                  option(value='.today') .today
                  option(value='.tokyo') .tokyo
                  option(value='.tools') .tools
                  option(value='.town') .town
                  option(value='.toys') .toys
                  option(value='.trade') .trade
                  option(value='.training') .training
                  option(value='.tv') .tv
                  option(value='.uk') .uk
                  option(value='.university') .university
                  option(value='.uno') .uno
                  option(value='.vacations') .vacations
                  option(value='.ventures') .ventures
                  option(value='.viajes') .viajes
                  option(value='.villas') .villas
                  option(value='.vision') .vision
                  option(value='.vlaanderen') .vlaanderen
                  option(value='.vodka') .vodka
                  option(value='.voyage') .voyage
                  option(value='.wales') .wales
                  option(value='.watch') .watch
                  option(value='.webcam') .webcam
                  option(value='.wf') .wf
                  option(value='.wien') .wien
                  option(value='.wiki') .wiki
                  option(value='.works') .works
                  option(value='.ws') .ws
                  option(value='.wtf') .wtf
                  option(value='.xyz') .xyz
                  option(value='.yt') .yt
                  option(value='.zone') .zone
                input(property='addonSearchFlag', value='true', type='hidden')
                button.browser-search-button(type='submit', name='domain')
                .domainSearchResultContainer(style='width: 509px; border-width: 0px; margin-left: 0px; margin-top: 52px; display: none;')

        #customer--ctrl-action
          #customer--ctrl-prev.order--steps-prev
            button Back
          #customer--ctrl-next.order--steps-next
            button Next

    main
      // Body content
      // ?xml version="1.0" encoding="utf-8"?
      svg(xmlns='http://www.w3.org/2000/svg')
        symbol#orderflow-icon-builder-invert(viewbox='0 0 30 30')
          // Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch
          title Group 10
          desc Created with Sketch.
          defs
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#Desktop-3(transform='translate(-205.000000, -254.000000)')
              g#Group-10(transform='translate(205.000000, 254.000000)')
                circle#Oval-4(fill='#FFFFFF', cx='15', cy='15', r='15')
                path#Shape(d='M12.4174975,15.0455871 C11.9951787,15.4980549 11.6279127,15.9986945 11.3233314,16.5371024 C10.5211568,16.0281948 9.09970351,16.0634023 7.71675459,16.7195409 C6.33380566,17.3756796 5.67923122,20.8996244 6.15411856,21.9174395 C6.62900589,22.9352546 7.24828465,20.5731554 9.43340813,20.4259243 C10.2277182,20.4153721 10.972378,20.038582 11.4501104,19.4054939 C11.9278429,18.7724058 12.0848158,17.9543579 11.8752275,17.1900404 C12.4979208,17.0071307 13.0967547,16.7514362 13.6592637,16.4282794 C13.7564534,16.0226988 13.6631492,15.5950436 13.4057765,15.2664338 C13.1206252,15.0608016 12.7633452,14.9809617 12.4174975,15.0455871 Z', fill='#3E6578', fill-rule='nonzero')
                path#Shape(d='M19.4766335,9.012312 C18.066141,9.91090898 16.7474633,10.9454181 15.5395608,12.1009648 C14.7630559,12.8520569 14.1213162,13.5060618 13.6143419,14.0629795 C13.909701,14.0789639 14.1915843,14.1914353 14.4165164,14.3830471 C14.7004455,14.6729572 14.8464302,15.0702078 14.8176037,15.4744778 L14.8176037,15.5544947 C15.4593434,15.1896176 16.239057,14.7191181 17.1503273,14.136595 C18.5588536,13.238024 19.8754042,12.2034973 21.0809826,11.0479422 C25.7207602,6.50618233 24.9570901,5.52357466 19.4766335,9.012312 Z', fill='#3E6578', fill-rule='nonzero')
        symbol#orderflow-icon-builder(viewbox='0 0 30 30')
          // Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch
          title Group 10
          desc Created with Sketch.
          defs
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#Desktop-3(transform='translate(-155.000000, -254.000000)')
              g#Group-10(transform='translate(155.000000, 254.000000)')
                circle#Oval-4(fill='#3E6578', cx='15', cy='15', r='15')
                path#Shape(d='M12.4174975,15.0455871 C11.9951787,15.4980549 11.6279127,15.9986945 11.3233314,16.5371024 C10.5211568,16.0281948 9.09970351,16.0634023 7.71675459,16.7195409 C6.33380566,17.3756796 5.67923122,20.8996244 6.15411856,21.9174395 C6.62900589,22.9352546 7.24828465,20.5731554 9.43340813,20.4259243 C10.2277182,20.4153721 10.972378,20.038582 11.4501104,19.4054939 C11.9278429,18.7724058 12.0848158,17.9543579 11.8752275,17.1900404 C12.4979208,17.0071307 13.0967547,16.7514362 13.6592637,16.4282794 C13.7564534,16.0226988 13.6631492,15.5950436 13.4057765,15.2664338 C13.1206252,15.0608016 12.7633452,14.9809617 12.4174975,15.0455871 Z', fill='#FFFFFF', fill-rule='nonzero')
                path#Shape(d='M19.4766335,9.012312 C18.066141,9.91090898 16.7474633,10.9454181 15.5395608,12.1009648 C14.7630559,12.8520569 14.1213162,13.5060618 13.6143419,14.0629795 C13.909701,14.0789639 14.1915843,14.1914353 14.4165164,14.3830471 C14.7004455,14.6729572 14.8464302,15.0702078 14.8176037,15.4744778 L14.8176037,15.5544947 C15.4593434,15.1896176 16.239057,14.7191181 17.1503273,14.136595 C18.5588536,13.238024 19.8754042,12.2034973 21.0809826,11.0479422 C25.7207602,6.50618233 24.9570901,5.52357466 19.4766335,9.012312 Z', fill='#FFFFFF', fill-rule='nonzero')
        symbol#orderflow-icon-domain-invert(viewbox='0 0 30 30')
          // Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch
          title Group 13
          desc Created with Sketch.
          defs
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#Desktop-3(transform='translate(-1145.000000, -255.000000)')
              g#Group-13(transform='translate(1145.000000, 255.000000)')
                g#Group-12
                  circle#Oval-4(fill='#FFFFFF', cx='15', cy='15', r='15')
                  path#Fill-1(d='M6.14889091,20.0858855 L24.5326727,20.0858855 L24.5326727,13.1917764 L6.14889091,13.1917764 L6.14889091,20.0858855 Z M19.2371091,5.26166727 L22.1223818,8.14694 L19.2371091,8.14694 L19.2371091,5.26166727 Z M25.1073091,12.0428855 L23.3837818,12.0428855 L23.3837818,8.02157636 C23.3837818,7.86923091 23.3234545,7.72299455 23.2154,7.61532182 L19.7687273,4.16826727 C19.6606727,4.06059455 19.5148182,3.99988545 19.3624727,3.99988545 L7.87241818,3.99988545 C7.55512727,3.99988545 7.29816364,4.25723091 7.29816364,4.57452182 L7.29816364,12.0428855 L5.57463636,12.0428855 C5.25696364,12.0428855 5,12.3002309 5,12.6175218 L5,20.66014 C5,20.9774309 5.25696364,21.2347764 5.57463636,21.2347764 L7.29816364,21.2347764 L7.29816364,24.1075764 C7.29816364,24.4248673 7.55512727,24.6818309 7.87241818,24.6818309 L22.8095273,24.6818309 C23.1268182,24.6818309 23.3837818,24.4248673 23.3837818,24.1075764 L23.3837818,21.2347764 L25.1073091,21.2347764 C25.4246,21.2347764 25.6815636,20.9774309 25.6815636,20.66014 L25.6815636,12.6175218 C25.6815636,12.3002309 25.4246,12.0428855 25.1073091,12.0428855 L25.1073091,12.0428855 Z', fill='#74A345')
                path#Fill-3(d='M10.7449891,18.9368418 L12.4685164,18.9368418 L12.4685164,17.7879509 L10.7449891,17.7879509 C10.42808,17.7879509 10.1703527,17.5298418 10.1703527,17.2133145 L10.1703527,16.0644236 C10.1703527,15.7475145 10.42808,15.4901691 10.7449891,15.4901691 L12.4685164,15.4901691 L12.4685164,14.3408964 L10.7449891,14.3408964 C9.79464364,14.3408964 9.02146182,15.1136964 9.02146182,16.0644236 L9.02146182,17.2133145 C9.02146182,18.1640418 9.79464364,18.9368418 10.7449891,18.9368418', fill='#74A345')
                path#Fill-4(d='M14.1919673,16.0642327 C14.1919673,15.7477055 14.4496945,15.4899782 14.7662218,15.4899782 C15.0831309,15.4899782 15.3408582,15.7477055 15.3408582,16.0642327 L15.3408582,17.2135055 C15.3408582,17.5300327 15.0831309,17.7881418 14.7662218,17.7881418 C14.4496945,17.7881418 14.1919673,17.5300327 14.1919673,17.2135055 L14.1919673,16.0642327 Z M14.7662218,18.9366509 C15.7169491,18.9366509 16.4901309,18.1638509 16.4901309,17.2135055 L16.4901309,16.0642327 C16.4901309,15.1138873 15.7169491,14.3407055 14.7662218,14.3407055 C13.8158764,14.3407055 13.0430764,15.1138873 13.0430764,16.0642327 L13.0430764,17.2135055 C13.0430764,18.1638509 13.8158764,18.9366509 14.7662218,18.9366509 L14.7662218,18.9366509 Z', fill='#74A345')
                path#Fill-5(d='M18.2133527,16.3024873 L18.9559891,17.0451236 C19.1804982,17.2696327 19.5443709,17.2696327 19.7684982,17.0451236 L20.5111345,16.3024873 L20.5111345,18.9366509 L21.6600255,18.9366509 L21.6600255,14.9153418 C21.6600255,14.6831964 21.52028,14.4735782 21.3056982,14.3846145 C21.0911164,14.2956509 20.84408,14.3445236 20.6795164,14.5090873 L19.3622436,15.82636 L18.0453527,14.5090873 C17.8807891,14.3445236 17.6333709,14.2956509 17.4191709,14.3846145 C17.2042073,14.4735782 17.0644618,14.6828145 17.0644618,14.9153418 L17.0644618,18.9366509 L18.2133527,18.9366509 L18.2133527,16.3024873 Z', fill='#74A345')
        symbol#orderflow-icon-domain(viewbox='0 0 30 30')
          // Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch
          title Group 13
          desc Created with Sketch.
          defs
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#Desktop-3(transform='translate(-1195.000000, -255.000000)')
              g#Group-13(transform='translate(1195.000000, 255.000000)')
                g#Group-12
                  circle#Oval-4(fill='#74A345', cx='15', cy='15', r='15')
                  path#Fill-1(d='M6.14889091,20.0858855 L24.5326727,20.0858855 L24.5326727,13.1917764 L6.14889091,13.1917764 L6.14889091,20.0858855 Z M19.2371091,5.26166727 L22.1223818,8.14694 L19.2371091,8.14694 L19.2371091,5.26166727 Z M25.1073091,12.0428855 L23.3837818,12.0428855 L23.3837818,8.02157636 C23.3837818,7.86923091 23.3234545,7.72299455 23.2154,7.61532182 L19.7687273,4.16826727 C19.6606727,4.06059455 19.5148182,3.99988545 19.3624727,3.99988545 L7.87241818,3.99988545 C7.55512727,3.99988545 7.29816364,4.25723091 7.29816364,4.57452182 L7.29816364,12.0428855 L5.57463636,12.0428855 C5.25696364,12.0428855 5,12.3002309 5,12.6175218 L5,20.66014 C5,20.9774309 5.25696364,21.2347764 5.57463636,21.2347764 L7.29816364,21.2347764 L7.29816364,24.1075764 C7.29816364,24.4248673 7.55512727,24.6818309 7.87241818,24.6818309 L22.8095273,24.6818309 C23.1268182,24.6818309 23.3837818,24.4248673 23.3837818,24.1075764 L23.3837818,21.2347764 L25.1073091,21.2347764 C25.4246,21.2347764 25.6815636,20.9774309 25.6815636,20.66014 L25.6815636,12.6175218 C25.6815636,12.3002309 25.4246,12.0428855 25.1073091,12.0428855 L25.1073091,12.0428855 Z', fill='#FFFFFF')
                path#Fill-3(d='M10.7449891,18.9368418 L12.4685164,18.9368418 L12.4685164,17.7879509 L10.7449891,17.7879509 C10.42808,17.7879509 10.1703527,17.5298418 10.1703527,17.2133145 L10.1703527,16.0644236 C10.1703527,15.7475145 10.42808,15.4901691 10.7449891,15.4901691 L12.4685164,15.4901691 L12.4685164,14.3408964 L10.7449891,14.3408964 C9.79464364,14.3408964 9.02146182,15.1136964 9.02146182,16.0644236 L9.02146182,17.2133145 C9.02146182,18.1640418 9.79464364,18.9368418 10.7449891,18.9368418', fill='#FFFFFF')
                path#Fill-4(d='M14.1919673,16.0642327 C14.1919673,15.7477055 14.4496945,15.4899782 14.7662218,15.4899782 C15.0831309,15.4899782 15.3408582,15.7477055 15.3408582,16.0642327 L15.3408582,17.2135055 C15.3408582,17.5300327 15.0831309,17.7881418 14.7662218,17.7881418 C14.4496945,17.7881418 14.1919673,17.5300327 14.1919673,17.2135055 L14.1919673,16.0642327 Z M14.7662218,18.9366509 C15.7169491,18.9366509 16.4901309,18.1638509 16.4901309,17.2135055 L16.4901309,16.0642327 C16.4901309,15.1138873 15.7169491,14.3407055 14.7662218,14.3407055 C13.8158764,14.3407055 13.0430764,15.1138873 13.0430764,16.0642327 L13.0430764,17.2135055 C13.0430764,18.1638509 13.8158764,18.9366509 14.7662218,18.9366509 L14.7662218,18.9366509 Z', fill='#FFFFFF')
                path#Fill-5(d='M18.2133527,16.3024873 L18.9559891,17.0451236 C19.1804982,17.2696327 19.5443709,17.2696327 19.7684982,17.0451236 L20.5111345,16.3024873 L20.5111345,18.9366509 L21.6600255,18.9366509 L21.6600255,14.9153418 C21.6600255,14.6831964 21.52028,14.4735782 21.3056982,14.3846145 C21.0911164,14.2956509 20.84408,14.3445236 20.6795164,14.5090873 L19.3622436,15.82636 L18.0453527,14.5090873 C17.8807891,14.3445236 17.6333709,14.2956509 17.4191709,14.3846145 C17.2042073,14.4735782 17.0644618,14.6828145 17.0644618,14.9153418 L17.0644618,18.9366509 L18.2133527,18.9366509 L18.2133527,16.3024873 Z', fill='#FFFFFF')
        symbol#orderflow-icon-email-invert(viewbox='0 0 30 30')
          // Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch
          title Group 14 Copy
          desc Created with Sketch.
          defs
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#Desktop-3(transform='translate(-601.000000, -254.000000)')
              g#Group-14-Copy(transform='translate(601.000000, 254.000000)')
                circle#Oval-4(fill='#FFFFFF', cx='15', cy='15', r='15')
                path#Fill-1(d='M11.805071,15.3384342 C11.4928034,15.6481051 11.197312,15.9401897 10.9067772,16.235715 L7.72385855,19.4180608 C7.53169383,19.6095979 7.44323706,19.8267498 7.52368697,20.0905435 C7.66819178,20.5691952 8.2267658,20.6842704 8.6023258,20.3107539 C9.92460204,18.9898739 11.2453532,17.6655532 12.5649604,16.3377917 C12.6133829,16.280063 12.6576113,16.2188934 12.696883,16.1542831 C12.8063102,16.2544482 12.8783719,16.317147 12.9500524,16.3817573 L14.5407492,17.8310933 C14.8431036,18.1052094 15.1588028,18.1021509 15.4626823,17.8272702 C16.0128682,17.3279738 16.563054,16.8279127 17.1124774,16.3270871 C17.1628062,16.280063 17.2180917,16.2338035 17.2798589,16.176457 C17.7774283,16.6765181 18.2635592,17.1662568 18.7500715,17.6552309 L21.3999619,20.3122831 C21.5799257,20.4931156 21.7858164,20.5779883 22.0363168,20.5107018 C22.5216853,20.378805 22.6616147,19.8118397 22.2936803,19.4402347 C21.40835,18.5460124 20.5195882,17.6552309 19.6293013,16.7667432 C19.1553713,16.2926792 18.6787723,15.8193798 18.1975979,15.3361404 C18.260509,15.2765001 18.3112191,15.2271821 18.3638357,15.1793934 L20.2988276,13.4169458 L22.2788104,11.6120618 C22.46945,11.4384932 22.5449433,11.2251644 22.4820322,10.9766631 C22.4328472,10.7526297 22.2597464,10.5771495 22.0366981,10.5255377 C21.7869603,10.4586335 21.584501,10.5503878 21.3976742,10.7212803 C19.3200839,12.6186832 17.2398246,14.5153215 15.1561338,16.4100483 C15.1061863,16.45669 15.0524259,16.5014203 14.9967591,16.5499736 L12.0193499,13.8371041 C10.8739872,12.7956926 9.7274807,11.7527518 8.58021161,10.7082817 C8.39910399,10.543124 8.1974073,10.4636036 7.95491374,10.5316547 C7.7337718,10.585178 7.56257745,10.7602759 7.51377371,10.9827801 C7.4535316,11.2335752 7.53321895,11.4442279 7.72385855,11.6170318 C8.54360881,12.3621534 9.36259651,13.1084219 10.1808217,13.855455 L11.805071,15.3384342 Z M5,20.8482813 L5,10.1944575 C5.01525117,10.1527858 5.02897722,10.1099671 5.03889048,10.0667661 C5.24516252,8.88695845 6.26927843,8.00458772 7.46573253,8.00344079 C12.4887046,7.99885307 17.5116767,7.99885307 22.5342675,8.00344079 C23.6727671,8.00344079 24.6591364,8.80552649 24.9271757,9.91498917 C24.9500524,10.0090373 24.9771232,10.1015563 25,10.1948398 L25,20.8482813 C24.9858927,20.8765722 24.9744543,20.90601 24.9664474,20.9365948 C24.7803832,21.9768594 24.0593842,22.7774159 23.0345058,22.9701 C22.5548565,23.0610897 22.0508055,23.0381511 21.5581927,23.0385334 C16.8810409,23.0431211 12.2027452,23.0431211 7.52444953,23.0385334 C6.37451149,23.0385334 5.40873129,22.3090866 5.09608236,21.2206509 C5.06062339,21.1002234 5.03202745,20.9740612 5,20.8482813 L5,20.8482813 Z', fill='#4BA5A5')
        symbol#orderflow-icon-email(viewbox='0 0 30 30')
          // Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch
          title Group 14 Copy
          desc Created with Sketch.
          defs
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#Desktop-3(transform='translate(-551.000000, -254.000000)')
              g#Group-14-Copy(transform='translate(551.000000, 254.000000)')
                circle#Oval-4(fill='#4BA5A5', cx='15', cy='15', r='15')
                path#Fill-1(d='M11.805071,15.3384342 C11.4928034,15.6481051 11.197312,15.9401897 10.9067772,16.235715 L7.72385855,19.4180608 C7.53169383,19.6095979 7.44323706,19.8267498 7.52368697,20.0905435 C7.66819178,20.5691952 8.2267658,20.6842704 8.6023258,20.3107539 C9.92460204,18.9898739 11.2453532,17.6655532 12.5649604,16.3377917 C12.6133829,16.280063 12.6576113,16.2188934 12.696883,16.1542831 C12.8063102,16.2544482 12.8783719,16.317147 12.9500524,16.3817573 L14.5407492,17.8310933 C14.8431036,18.1052094 15.1588028,18.1021509 15.4626823,17.8272702 C16.0128682,17.3279738 16.563054,16.8279127 17.1124774,16.3270871 C17.1628062,16.280063 17.2180917,16.2338035 17.2798589,16.176457 C17.7774283,16.6765181 18.2635592,17.1662568 18.7500715,17.6552309 L21.3999619,20.3122831 C21.5799257,20.4931156 21.7858164,20.5779883 22.0363168,20.5107018 C22.5216853,20.378805 22.6616147,19.8118397 22.2936803,19.4402347 C21.40835,18.5460124 20.5195882,17.6552309 19.6293013,16.7667432 C19.1553713,16.2926792 18.6787723,15.8193798 18.1975979,15.3361404 C18.260509,15.2765001 18.3112191,15.2271821 18.3638357,15.1793934 L20.2988276,13.4169458 L22.2788104,11.6120618 C22.46945,11.4384932 22.5449433,11.2251644 22.4820322,10.9766631 C22.4328472,10.7526297 22.2597464,10.5771495 22.0366981,10.5255377 C21.7869603,10.4586335 21.584501,10.5503878 21.3976742,10.7212803 C19.3200839,12.6186832 17.2398246,14.5153215 15.1561338,16.4100483 C15.1061863,16.45669 15.0524259,16.5014203 14.9967591,16.5499736 L12.0193499,13.8371041 C10.8739872,12.7956926 9.7274807,11.7527518 8.58021161,10.7082817 C8.39910399,10.543124 8.1974073,10.4636036 7.95491374,10.5316547 C7.7337718,10.585178 7.56257745,10.7602759 7.51377371,10.9827801 C7.4535316,11.2335752 7.53321895,11.4442279 7.72385855,11.6170318 C8.54360881,12.3621534 9.36259651,13.1084219 10.1808217,13.855455 L11.805071,15.3384342 Z M5,20.8482813 L5,10.1944575 C5.01525117,10.1527858 5.02897722,10.1099671 5.03889048,10.0667661 C5.24516252,8.88695845 6.26927843,8.00458772 7.46573253,8.00344079 C12.4887046,7.99885307 17.5116767,7.99885307 22.5342675,8.00344079 C23.6727671,8.00344079 24.6591364,8.80552649 24.9271757,9.91498917 C24.9500524,10.0090373 24.9771232,10.1015563 25,10.1948398 L25,20.8482813 C24.9858927,20.8765722 24.9744543,20.90601 24.9664474,20.9365948 C24.7803832,21.9768594 24.0593842,22.7774159 23.0345058,22.9701 C22.5548565,23.0610897 22.0508055,23.0381511 21.5581927,23.0385334 C16.8810409,23.0431211 12.2027452,23.0431211 7.52444953,23.0385334 C6.37451149,23.0385334 5.40873129,22.3090866 5.09608236,21.2206509 C5.06062339,21.1002234 5.03202745,20.9740612 5,20.8482813 L5,20.8482813 Z', fill='#FFFFFF')
        symbol#orderflow-icon-hosting-invert(viewbox='0 0 30 30')
          // Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch
          title Group 4
          desc Created with Sketch.
          defs
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#Desktop-3(transform='translate(-403.000000, -254.000000)')
              g#Group-4(transform='translate(403.000000, 254.000000)')
                circle#Oval-4(fill='#FFFFFF', cx='15', cy='15', r='15')
                g#Page-1(transform='translate(7.000000, 7.000000)', fill='#21ABCD')
                  polygon#Fill-1(points='0 1.69172 0 14.21132 2.842 14.21132 2.842 13.50092 0.7108 13.50092 0.7108 8.28972 2.842 8.28972 2.842 7.61332 0.7108 7.61332 0.7108 2.40252 2.842 2.40252 2.842 1.69172')
                  path#Fill-2(d='M4.4664,4.12828 L15.9028,4.12828 L15.9028,0.00028 L4.4664,0.00028 L4.4664,4.12828 Z M11.8428,2.40268 L14.1096,2.40268 L14.1096,1.69188 L11.8428,1.69188 L11.8428,2.40268 Z')
                  path#Fill-3(d='M4.4664,10.01548 L15.9028,10.01548 L15.9028,5.88748 L4.4664,5.88748 L4.4664,10.01548 Z M11.8428,8.28988 L14.1096,8.28988 L14.1096,7.61348 L11.8428,7.61348 L11.8428,8.28988 Z')
                  path#Fill-4(d='M4.4664,15.90308 L15.9028,15.90308 L15.9028,11.77508 L4.4664,11.77508 L4.4664,15.90308 Z M11.8428,14.21148 L14.1096,14.21148 L14.1096,13.50068 L11.8428,13.50068 L11.8428,14.21148 Z')
        symbol#orderflow-icon-hosting(viewbox='0 0 30 30')
          // Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch
          title Group 4
          desc Created with Sketch.
          defs
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#Desktop-3(transform='translate(-353.000000, -254.000000)')
              g#Group-4(transform='translate(353.000000, 254.000000)')
                circle#Oval-4(fill='#21ABCD', cx='15', cy='15', r='15')
                g#Page-1(transform='translate(7.000000, 7.000000)', fill='#FFFFFF')
                  polygon#Fill-1(points='0 1.69172 0 14.21132 2.842 14.21132 2.842 13.50092 0.7108 13.50092 0.7108 8.28972 2.842 8.28972 2.842 7.61332 0.7108 7.61332 0.7108 2.40252 2.842 2.40252 2.842 1.69172')
                  path#Fill-2(d='M4.4664,4.12828 L15.9028,4.12828 L15.9028,0.00028 L4.4664,0.00028 L4.4664,4.12828 Z M11.8428,2.40268 L14.1096,2.40268 L14.1096,1.69188 L11.8428,1.69188 L11.8428,2.40268 Z')
                  path#Fill-3(d='M4.4664,10.01548 L15.9028,10.01548 L15.9028,5.88748 L4.4664,5.88748 L4.4664,10.01548 Z M11.8428,8.28988 L14.1096,8.28988 L14.1096,7.61348 L11.8428,7.61348 L11.8428,8.28988 Z')
                  path#Fill-4(d='M4.4664,15.90308 L15.9028,15.90308 L15.9028,11.77508 L4.4664,11.77508 L4.4664,15.90308 Z M11.8428,14.21148 L14.1096,14.21148 L14.1096,13.50068 L11.8428,13.50068 L11.8428,14.21148 Z')
        symbol#orderflow-icon-webshop-invert(viewbox='0 0 30 30')
          // Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch
          title Group 11
          desc Created with Sketch.
          defs
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#Desktop-3(transform='translate(-997.000000, -254.000000)')
              g#Group-11(transform='translate(997.000000, 254.000000)')
                circle#Oval-4(fill='#FFFFFF', cx='15', cy='15', r='15')
                path#Fill-1(d='M11.6666667,22.5498282 L11.6666667,23.9458066 L10.8339153,23.9458066 L10.8339153,24.6440745 L11.6666667,24.6440745 L12.5000831,24.6440745 L17.500582,24.6440745 L18.3333333,24.6440745 L19.1667498,24.6440745 L19.1667498,23.9458066 L18.3333333,23.9458066 L18.3333333,22.5498282 L17.500582,22.5498282 L17.500582,23.9458066 L12.5000831,23.9458066 L12.5000831,22.5498282 L11.6666667,22.5498282 Z M5,21.8515603 L25,21.8515603 L25,20.4550246 L5,20.4550246 L5,21.8515603 Z M5,10.6803892 L5,18.535206 L5,18.8840613 L5,19.7567568 L25,19.7567568 L25,18.535206 L25,10.6803892 L20.8335828,10.6803892 L20.8335828,17.3130979 C20.8335828,17.4958847 20.6347068,17.6619532 20.416542,17.6619532 L19.8964049,17.6619532 L11.7970335,17.6619532 L10.1302005,17.6619532 C9.59410024,17.6619532 9.16708238,17.2802186 9.16708238,16.8332825 L9.16708238,15.1748267 L9.16708238,11.5748185 L9.16708238,10.6803892 L5,10.6803892 Z M17.9169577,8.58558559 C17.6828295,8.58558559 17.500582,8.73493577 17.500582,8.93499815 C17.500582,9.13506053 17.6828295,9.28385344 17.9169577,9.28385344 C18.1510858,9.28385344 18.3333333,9.13506053 18.3333333,8.93499815 C18.3333333,8.73493577 18.1510858,8.58558559 17.9169577,8.58558559 L17.9169577,8.58558559 Z M13.7498753,8.58558559 C13.5164123,8.58558559 13.3334996,8.73493577 13.3334996,8.93499815 C13.3334996,9.13506053 13.5164123,9.28385344 13.7498753,9.28385344 C13.9840035,9.28385344 14.1669161,9.13506053 14.1669161,8.93499815 C14.1669161,8.73493577 13.9840035,8.58558559 13.7498753,8.58558559 L13.7498753,8.58558559 Z M10.0004989,8.5203842 L10.0004989,9.6984674 L10.0004989,11.5748185 L10.0004989,15.1748267 L10.0004989,16.8332825 C10.0004989,16.9140877 10.0510493,16.9642426 10.1302005,16.9642426 L10.8598557,16.9642426 C10.8505437,16.9196605 10.8339153,16.8789792 10.8339153,16.8332825 L10.8339153,14.8042376 L10.8339153,14.7825038 L10.8339153,11.2694308 L10.8339153,11.1824956 L10.8339153,9.6984674 L10.8339153,8.5203842 C10.5705211,8.60007478 10.2632279,8.60007478 10.0004989,8.5203842 L10.0004989,8.5203842 Z M11.7710932,7.18960715 C11.7624464,7.1907217 11.7744188,7.20019541 11.7451528,7.23307474 C11.7059097,7.27709961 11.6666667,7.37072211 11.6666667,7.47326105 L11.6666667,9.6984674 L11.6666667,11.1824956 L11.6666667,14.7825038 L11.6666667,16.8332825 C11.6666667,16.9140877 11.7178822,16.9642426 11.7970335,16.9642426 L19.8964049,16.9642426 L20.0001663,16.9642426 L20.0001663,7.32000992 C20.0001663,7.22415831 19.9283315,7.18960715 19.8964049,7.18960715 L18.3333333,7.18960715 L18.3333333,7.75691495 L18.3333333,7.9313426 C18.8222089,8.07456274 19.1667498,8.47858844 19.1667498,8.93499815 C19.1667498,9.51010783 18.6033789,9.9821213 17.9169577,9.9821213 C17.2298713,9.9821213 16.6671655,9.51010783 16.6671655,8.93499815 C16.6671655,8.47858844 17.0117064,8.07456274 17.500582,7.9313426 L17.500582,7.75691495 L17.500582,7.18960715 L14.1669161,7.18960715 L14.1669161,7.75691495 L14.1669161,7.9313426 C14.6557917,8.07456274 15.0003326,8.47858844 15.0003326,8.93499815 C15.0003326,9.51010783 14.4369617,9.9821213 13.7498753,9.9821213 C13.0634541,9.9821213 12.5000831,9.51010783 12.5000831,8.93499815 C12.5000831,8.47858844 12.844624,8.07456274 13.3334996,7.9313426 L13.3334996,7.75691495 L13.3334996,7.18960715 L11.7970335,7.18960715 C11.7957032,7.18960715 11.7737537,7.18904987 11.7710932,7.18960715 L11.7710932,7.18960715 Z M10.1302005,7.18960715 C10.1262097,7.18960715 10.1175629,7.18904987 10.0783199,7.23307474 C10.0390768,7.27709961 10.0004989,7.37072211 10.0004989,7.47326105 C10.0018291,7.63208494 10.108251,7.77697692 10.234627,7.84385014 C10.3616682,7.91183791 10.4720809,7.91183791 10.599122,7.84385014 C10.725498,7.77697692 10.8325851,7.63264222 10.8339153,7.47326105 L10.8339153,7.32000992 C10.8339153,7.27431322 10.8505437,7.23418929 10.8598557,7.18960715 L10.1302005,7.18960715 Z M14.3232233,3 C12.8612525,3 11.6666667,4.0003119 11.6666667,5.22576363 L11.6666667,6.49133929 L12.5000831,6.49133929 L12.5000831,5.22576363 C12.5000831,4.3753592 13.3088896,3.69826786 14.3232233,3.69826786 C14.589278,3.69826786 14.8260667,3.74563639 15.0522132,3.82922791 C14.0638199,4.10953815 13.3334996,4.87133557 13.3334996,5.79307143 L13.3334996,6.49133929 L14.1669161,6.49133929 L14.1669161,5.79307143 C14.1669161,5.01176933 14.9032226,4.39653572 15.833749,4.39653572 C16.0199874,4.63616475 16.1456982,4.91424588 16.1456982,5.22576363 L16.1456982,6.49133929 L16.9791147,6.49133929 L16.9791147,5.22576363 C16.9791147,5.05523692 16.9185872,4.88303838 16.8753534,4.72365721 C17.2491603,4.97888999 17.500582,5.35059363 17.500582,5.79307143 L17.500582,6.49133929 L18.3333333,6.49133929 L18.3333333,5.79307143 C18.3333333,4.7671248 17.4393894,3.92117859 16.2760651,3.74173545 C15.7905151,3.29257033 15.1014334,3 14.3232233,3 L14.3232233,3 Z', fill='#F78F00')
        symbol#orderflow-icon-webshop(viewbox='0 0 30 30')
          // Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch
          title Group 11
          desc Created with Sketch.
          defs
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#Desktop-3(transform='translate(-947.000000, -254.000000)')
              g#Group-11(transform='translate(947.000000, 254.000000)')
                circle#Oval-4(fill='#F78F00', cx='15', cy='15', r='15')
                path#Fill-1(d='M11.6666667,22.5498282 L11.6666667,23.9458066 L10.8339153,23.9458066 L10.8339153,24.6440745 L11.6666667,24.6440745 L12.5000831,24.6440745 L17.500582,24.6440745 L18.3333333,24.6440745 L19.1667498,24.6440745 L19.1667498,23.9458066 L18.3333333,23.9458066 L18.3333333,22.5498282 L17.500582,22.5498282 L17.500582,23.9458066 L12.5000831,23.9458066 L12.5000831,22.5498282 L11.6666667,22.5498282 Z M5,21.8515603 L25,21.8515603 L25,20.4550246 L5,20.4550246 L5,21.8515603 Z M5,10.6803892 L5,18.535206 L5,18.8840613 L5,19.7567568 L25,19.7567568 L25,18.535206 L25,10.6803892 L20.8335828,10.6803892 L20.8335828,17.3130979 C20.8335828,17.4958847 20.6347068,17.6619532 20.416542,17.6619532 L19.8964049,17.6619532 L11.7970335,17.6619532 L10.1302005,17.6619532 C9.59410024,17.6619532 9.16708238,17.2802186 9.16708238,16.8332825 L9.16708238,15.1748267 L9.16708238,11.5748185 L9.16708238,10.6803892 L5,10.6803892 Z M17.9169577,8.58558559 C17.6828295,8.58558559 17.500582,8.73493577 17.500582,8.93499815 C17.500582,9.13506053 17.6828295,9.28385344 17.9169577,9.28385344 C18.1510858,9.28385344 18.3333333,9.13506053 18.3333333,8.93499815 C18.3333333,8.73493577 18.1510858,8.58558559 17.9169577,8.58558559 L17.9169577,8.58558559 Z M13.7498753,8.58558559 C13.5164123,8.58558559 13.3334996,8.73493577 13.3334996,8.93499815 C13.3334996,9.13506053 13.5164123,9.28385344 13.7498753,9.28385344 C13.9840035,9.28385344 14.1669161,9.13506053 14.1669161,8.93499815 C14.1669161,8.73493577 13.9840035,8.58558559 13.7498753,8.58558559 L13.7498753,8.58558559 Z M10.0004989,8.5203842 L10.0004989,9.6984674 L10.0004989,11.5748185 L10.0004989,15.1748267 L10.0004989,16.8332825 C10.0004989,16.9140877 10.0510493,16.9642426 10.1302005,16.9642426 L10.8598557,16.9642426 C10.8505437,16.9196605 10.8339153,16.8789792 10.8339153,16.8332825 L10.8339153,14.8042376 L10.8339153,14.7825038 L10.8339153,11.2694308 L10.8339153,11.1824956 L10.8339153,9.6984674 L10.8339153,8.5203842 C10.5705211,8.60007478 10.2632279,8.60007478 10.0004989,8.5203842 L10.0004989,8.5203842 Z M11.7710932,7.18960715 C11.7624464,7.1907217 11.7744188,7.20019541 11.7451528,7.23307474 C11.7059097,7.27709961 11.6666667,7.37072211 11.6666667,7.47326105 L11.6666667,9.6984674 L11.6666667,11.1824956 L11.6666667,14.7825038 L11.6666667,16.8332825 C11.6666667,16.9140877 11.7178822,16.9642426 11.7970335,16.9642426 L19.8964049,16.9642426 L20.0001663,16.9642426 L20.0001663,7.32000992 C20.0001663,7.22415831 19.9283315,7.18960715 19.8964049,7.18960715 L18.3333333,7.18960715 L18.3333333,7.75691495 L18.3333333,7.9313426 C18.8222089,8.07456274 19.1667498,8.47858844 19.1667498,8.93499815 C19.1667498,9.51010783 18.6033789,9.9821213 17.9169577,9.9821213 C17.2298713,9.9821213 16.6671655,9.51010783 16.6671655,8.93499815 C16.6671655,8.47858844 17.0117064,8.07456274 17.500582,7.9313426 L17.500582,7.75691495 L17.500582,7.18960715 L14.1669161,7.18960715 L14.1669161,7.75691495 L14.1669161,7.9313426 C14.6557917,8.07456274 15.0003326,8.47858844 15.0003326,8.93499815 C15.0003326,9.51010783 14.4369617,9.9821213 13.7498753,9.9821213 C13.0634541,9.9821213 12.5000831,9.51010783 12.5000831,8.93499815 C12.5000831,8.47858844 12.844624,8.07456274 13.3334996,7.9313426 L13.3334996,7.75691495 L13.3334996,7.18960715 L11.7970335,7.18960715 C11.7957032,7.18960715 11.7737537,7.18904987 11.7710932,7.18960715 L11.7710932,7.18960715 Z M10.1302005,7.18960715 C10.1262097,7.18960715 10.1175629,7.18904987 10.0783199,7.23307474 C10.0390768,7.27709961 10.0004989,7.37072211 10.0004989,7.47326105 C10.0018291,7.63208494 10.108251,7.77697692 10.234627,7.84385014 C10.3616682,7.91183791 10.4720809,7.91183791 10.599122,7.84385014 C10.725498,7.77697692 10.8325851,7.63264222 10.8339153,7.47326105 L10.8339153,7.32000992 C10.8339153,7.27431322 10.8505437,7.23418929 10.8598557,7.18960715 L10.1302005,7.18960715 Z M14.3232233,3 C12.8612525,3 11.6666667,4.0003119 11.6666667,5.22576363 L11.6666667,6.49133929 L12.5000831,6.49133929 L12.5000831,5.22576363 C12.5000831,4.3753592 13.3088896,3.69826786 14.3232233,3.69826786 C14.589278,3.69826786 14.8260667,3.74563639 15.0522132,3.82922791 C14.0638199,4.10953815 13.3334996,4.87133557 13.3334996,5.79307143 L13.3334996,6.49133929 L14.1669161,6.49133929 L14.1669161,5.79307143 C14.1669161,5.01176933 14.9032226,4.39653572 15.833749,4.39653572 C16.0199874,4.63616475 16.1456982,4.91424588 16.1456982,5.22576363 L16.1456982,6.49133929 L16.9791147,6.49133929 L16.9791147,5.22576363 C16.9791147,5.05523692 16.9185872,4.88303838 16.8753534,4.72365721 C17.2491603,4.97888999 17.500582,5.35059363 17.500582,5.79307143 L17.500582,6.49133929 L18.3333333,6.49133929 L18.3333333,5.79307143 C18.3333333,4.7671248 17.4393894,3.92117859 16.2760651,3.74173545 C15.7905151,3.29257033 15.1014334,3 14.3232233,3 L14.3232233,3 Z', fill='#FFFFFF')
        symbol#orderflow-icon-wp-invert(viewbox='0 0 30 30')
          // Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch
          title Group 12
          desc Created with Sketch.
          defs
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#Desktop-3(transform='translate(-799.000000, -254.000000)')
              g#Group-12(transform='translate(799.000000, 254.000000)')
                circle#Oval-4-Copy(fill='#2075CF', cx='15', cy='15', r='15')
                path#Shape-Copy(d='M15,0 C6.7293,0 0,6.7296 0,15 C0,23.271 6.7293,30 15,30 C23.2704,30 30,23.271 30,15 C30,6.7296 23.2704,0 15,0 Z M15,0.6843 C22.8915,0.6843 29.3064,7.1088 29.3064,15 C29.3064,22.8915 22.8915,29.3064 15,29.3064 C7.1088,29.3064 0.6936,22.8915 0.6936,15 C0.6936,7.1088 7.1088,0.6843 15,0.6843 Z M15,2.1375 C10.5045,2.1375 6.5475,4.4382 4.2468,7.9311 C4.5489,7.9407 4.8399,7.9497 5.0811,7.9497 C6.4266,7.9497 8.5029,7.7811 8.5029,7.7811 C9.1962,7.7406 9.2802,8.7585 8.5872,8.8404 C8.5872,8.8404 7.8906,8.931 7.1154,8.9718 L11.8029,22.9032 L14.6154,14.4564 L12.609,8.9721 C11.9157,8.9313 11.259,8.8407 11.259,8.8407 C10.5654,8.7996 10.6497,7.7406 11.3433,7.7814 C11.3433,7.7814 13.4634,7.95 14.7276,7.95 C16.0728,7.95 18.159,7.7814 18.159,7.7814 C18.8526,7.7409 18.9372,8.7588 18.2433,8.8407 C18.2433,8.8407 17.5461,8.9313 16.7715,8.9721 L21.4218,22.8 L22.7061,18.5064 C23.2617,16.7256 23.6898,15.4542 23.6898,14.3532 C23.6898,12.7623 23.1204,11.6571 22.6311,10.8 C21.9789,9.7395 21.3648,8.8416 21.3648,7.7814 C21.3648,6.5988 22.2579,5.5032 23.5212,5.5032 C23.5779,5.5032 23.6346,5.5095 23.6898,5.5125 C21.4014,3.4149 18.3498,2.1375 15,2.1375 Z M26.2875,8.8218 C26.3427,9.2316 26.3811,9.6792 26.3811,10.1532 C26.3811,11.4585 26.1309,12.9207 25.3968,14.7564 L21.4686,26.1186 C25.2936,23.8884 27.8625,19.7469 27.8625,15 C27.8625,12.7629 27.2919,10.6545 26.2875,8.8218 Z M3.2436,9.7593 C2.5299,11.3595 2.1375,13.1346 2.1375,15 C2.1375,20.0931 5.0919,24.4929 9.3843,26.5782 L3.2436,9.7593 Z M15.225,16.125 L11.3625,27.3468 C12.5157,27.6861 13.7373,27.8625 15,27.8625 C16.4982,27.8625 17.9376,27.6111 19.275,27.1407 C19.2411,27.0855 19.2069,27.0261 19.1814,26.9625 L15.225,16.125 Z', fill='#FFFFFF', fill-rule='nonzero')
        symbol#orderflow-icon-wp(viewbox='0 0 30 30')
          // Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch
          title Group 12
          desc Created with Sketch.
          defs
          g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            g#Desktop-3(transform='translate(-749.000000, -254.000000)')
              g#Group-12(transform='translate(749.000000, 254.000000)')
                circle#Oval-4-Copy(fill='#FFFFFF', cx='15', cy='15', r='15')
                path#Shape-Copy(d='M15,0 C6.7293,0 0,6.7296 0,15 C0,23.271 6.7293,30 15,30 C23.2704,30 30,23.271 30,15 C30,6.7296 23.2704,0 15,0 Z M15,0.6843 C22.8915,0.6843 29.3064,7.1088 29.3064,15 C29.3064,22.8915 22.8915,29.3064 15,29.3064 C7.1088,29.3064 0.6936,22.8915 0.6936,15 C0.6936,7.1088 7.1088,0.6843 15,0.6843 Z M15,2.1375 C10.5045,2.1375 6.5475,4.4382 4.2468,7.9311 C4.5489,7.9407 4.8399,7.9497 5.0811,7.9497 C6.4266,7.9497 8.5029,7.7811 8.5029,7.7811 C9.1962,7.7406 9.2802,8.7585 8.5872,8.8404 C8.5872,8.8404 7.8906,8.931 7.1154,8.9718 L11.8029,22.9032 L14.6154,14.4564 L12.609,8.9721 C11.9157,8.9313 11.259,8.8407 11.259,8.8407 C10.5654,8.7996 10.6497,7.7406 11.3433,7.7814 C11.3433,7.7814 13.4634,7.95 14.7276,7.95 C16.0728,7.95 18.159,7.7814 18.159,7.7814 C18.8526,7.7409 18.9372,8.7588 18.2433,8.8407 C18.2433,8.8407 17.5461,8.9313 16.7715,8.9721 L21.4218,22.8 L22.7061,18.5064 C23.2617,16.7256 23.6898,15.4542 23.6898,14.3532 C23.6898,12.7623 23.1204,11.6571 22.6311,10.8 C21.9789,9.7395 21.3648,8.8416 21.3648,7.7814 C21.3648,6.5988 22.2579,5.5032 23.5212,5.5032 C23.5779,5.5032 23.6346,5.5095 23.6898,5.5125 C21.4014,3.4149 18.3498,2.1375 15,2.1375 Z M26.2875,8.8218 C26.3427,9.2316 26.3811,9.6792 26.3811,10.1532 C26.3811,11.4585 26.1309,12.9207 25.3968,14.7564 L21.4686,26.1186 C25.2936,23.8884 27.8625,19.7469 27.8625,15 C27.8625,12.7629 27.2919,10.6545 26.2875,8.8218 Z M3.2436,9.7593 C2.5299,11.3595 2.1375,13.1346 2.1375,15 C2.1375,20.0931 5.0919,24.4929 9.3843,26.5782 L3.2436,9.7593 Z M15.225,16.125 L11.3625,27.3468 C12.5157,27.6861 13.7373,27.8625 15,27.8625 C16.4982,27.8625 17.9376,27.6111 19.275,27.1407 C19.2411,27.0855 19.2069,27.0261 19.1814,26.9625 L15.225,16.125 Z', fill='#2075CF', fill-rule='nonzero')
      
    footer.tmpl-footer.hidden-print
      .centered.no-padding-sbsx
        .footer-elements-container
          .languages-container
            h2 Select your language:
            .footer-columns
              ul
                li.language
                  a(href='/cs/objednavka') etina
                li.language
                  a(href='/da/bestilling') Dansk
                li.language
                  a(href='/de/bestellung') Deutsch
                li.language.active
                  a(href='/en/order') English
                li.language
                  a(href='/es/solicitar') Espaol
                li.language
                  a(href='/fr/commande') Franais
                li.language
                  a(href='/it/ordine') Italiano
              ul
                li.language
                  a(href='/nl/bestelling') Nederlands
                li.language
                  a(href='/no/bestilling') Norsk
                li.language
                  a(href='/pl/zamowienie') Polski
                li.language
                  a(href='/pt-BR/encomenda') Portugus (Brasil)
                li.language
                  a(href='/pt/encomenda') Portugus
                li.language
                  a(href='/fi/tilaus') Suomi
                li.language
                  a(href='/sv/bestaellning') Svenska
          .infomap-container
            h2 Information:
            .footer-columns
              ul
                li.infomap-item(data-current-page='info-product')
                  a(href='/en/product') Features
                li.infomap-item(data-current-page='info-profile')
                  a(href='/en/info/profile') Profile
                li.infomap-item
                  a(href='https://blog.one.com', target='_blank') Blog
                li.infomap-item(data-current-page='info-press')
                  a(href='/en/info/press') Press
                li.infomap-item(data-current-page='info-job')
                  a(href='/en/info/jobs') Jobs
                li.infomap-item(data-current-page='info-contact')
                  a(href='/en/info/contact-information') Contact us
                li.infomap-item
                  a(href='http://status.one.com/', target='_blank') System status
              ul
                li.infomap-item(data-current-page='info-partners')
                  a(href='/en/info/partners') Partners
                li.infomap-item
                  a(href='/en/terms-and-conditions?country=Ireland', target='_blank') Terms of business
                li.infomap-item(data-current-page='info-privacy')
                  a(href='/en/info/privacy-policy') Product & Privacy Policy
                li.infomap-item(data-current-page='info-cookies')
                  a(href='/en/info/cookie-policy') Cookie Policy
                li.infomap-item(data-current-page='price-list')
                  a(href='/en/info/prices') Prices
                li.infomap-item(data-current-page='whois')
                  a(href='/en/whois') Whois
          .social-container
            .footer-columns
              ul.social
                li
                  a#twitter(href='https://twitter.com/onecom', target='_blank')
                    | Follow us on Twitter
                li
                  a#facebook(href='https://www.facebook.com/Onecom', target='_blank')
                    | Like us on Facebook
                li
                  a#youtube(href='https://www.youtube.com/user/onecom/', target='_blank')
                    | Watch us on YouTube
                li
                  | Copyright  2002 - 2018 One.com. 
                  br
                  |  All rights reserved
    
    script(src='dist/scripts/order.js')
    