
a {
  text-decoration: none;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/avenir/AvenirNext-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/avenir/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/avenir/AvenirNext-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/avenir/AvenirNext-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/avenir/AvenirNext-Bold.svg#92550229aad14ffa2dc273e49410d17e') format('svg'); /* Legacy iOS */   
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/avenir/AvenirNext-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/avenir/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/avenir/AvenirNext-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/avenir/AvenirNext-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/avenir/AvenirNext-Regular.svg#fe299bf9c71888f1da7b2c2d74973b56') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Avenir Next Medium';
  src: url('../fonts/avenir/AvenirNext-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/avenir/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/avenir/AvenirNext-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/avenir/AvenirNext-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/avenir/AvenirNext-Medium.svg#5ff54762f5b331a06e3ae1fbf17e8ff4') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}


@font-face {
  font-family: 'Lato';
  src: url(../fonts/lato-black/lato-black.eot);
  src: local('Lato Black'), local('Lato-Black'), url(../fonts/lato-black/lato-black.eot?#iefix) format('embedded-opentype'), url(../fonts/lato-black/lato-black.woff2) format('woff2'), url(../fonts/lato-black/lato-black.woff) format('woff'), url(../fonts/lato-black/lato-black.ttf) format('truetype'), url(../fonts/lato-black/lato-black.svg#lato) format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/lato-heavy/lato-heavy.eot);
  src: local('Lato Heavy'), local('Lato-Heavy'), url(../fonts/lato-heavy/lato-heavy.eot?#iefix) format('embedded-opentype'), url(../fonts/lato-heavy/lato-heavy.woff2) format('woff2'), url(../fonts/lato-heavy/lato-heavy.woff) format('woff'), url(../fonts/lato-heavy/lato-heavy.ttf) format('truetype'), url(../fonts/lato-heavy/lato-heavy.svg#lato) format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/lato-bold/lato-bold.eot);
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/lato-bold/lato-bold.eot?#iefix) format('embedded-opentype'), url(../fonts/lato-bold/lato-bold.woff2) format('woff2'), url(../fonts/lato-bold/lato-bold.woff) format('woff'), url(../fonts/lato-bold/lato-bold.ttf) format('truetype'), url(../fonts/lato-bold/lato-bold.svg#lato) format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/lato-semibold/lato-semibold.eot);
  src: local('Lato Semi Bold'), local('Lato-SemiBold'), url(../fonts/lato-semibold/lato-semibold.eot?#iefix) format('embedded-opentype'), url(../fonts/lato-semibold/lato-semibold.woff2) format('woff2'), url(../fonts/lato-semibold/lato-semibold.woff) format('woff'), url(../fonts/lato-semibold/lato-semibold.ttf) format('truetype'), url(../fonts/lato-semibold/lato-semibold.svg#lato) format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/lato-medium/lato-medium.eot);
  src: local('Lato Medium'), local('Lato-Medium'), url(../fonts/lato-medium/lato-medium.eot?#iefix) format('embedded-opentype'), url(../fonts/lato-medium/lato-medium.woff2) format('woff2'), url(../fonts/lato-medium/lato-medium.woff) format('woff'), url(../fonts/lato-medium/lato-medium.ttf) format('truetype'), url(../fonts/lato-medium/lato-medium.svg#lato) format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/lato-regular/lato-regular.eot);
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/lato-regular/lato-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/lato-regular/lato-regular.woff2) format('woff2'), url(../fonts/lato-regular/lato-regular.woff) format('woff'), url(../fonts/lato-regular/lato-regular.ttf) format('truetype'), url(../fonts/lato-regular/lato-regular.svg#lato) format('svg');
  font-weight: 400;
  font-style: normal;
}