#innercontent.choose_domain.mg-top-40.mg-bottom-70.mg-bottom-50-sm.mg-bottom-20-xs {
  width: 1100px;
}

#kasper--input-border {
  border: 2px solid #9E9E9E;
  border-right: none;
}

.popular-domains--box {
  height: 190px;
  width: 260px;
  border: 2px solid #F9F9F9;
  border-radius: 4px;
  margin-right: 2.2em;
  margin-bottom: 32px;
  position: relative;
  float: left;
  background-repeat: no-repeat;
  background-position: center 48px;
}

.popular-domains--box:last-child {
  margin-right: 0;
}

.popular-domains--box.com {
  background-size: 45%;
  background-image: url('../images/signup/img-com.png');  
}

.popular-domains--box.dk {
  background-size: 50%;
  background-image: url('../images/signup/img-dkhost.png');  
}

.popular-domains--box.me {
  background-size: 30%;
  background-image: url('../images/signup/img-me.png');  
}

.popular-domains--box.net {
  background-size: 30%;
  background-image: url('../images/signup/img-net.png');  
}

.popular-domains--title {
  height: 60px;
  width: 100%;
  background-color: #F9F9F9;
  position: absolute;
  bottom: 0;
}

.popular-domains--tld {
  padding: 20px 0 20px 30px;
  color: #4E4E4E;
  display: inline-block;
}

.popular-domains--price {
  padding: 20px 30px 20px 0;
  float: right;
}

.popular-domains--price > span {
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
}

.popular-domains--price em {
  text-decoration: line-through;
}


.price-list__row {
  background-color: #f9f9f9;
  height: 57px;
}

.price-list__row .price-list__tld {
  line-height: 40px; 
}

.price-list__tld, .price-list__price-info {
  height: 100%;
  padding: 10px 30px !important;
}

.price-list__price {
  margin-top: 10px;
}

.price-list__price-info {
  float: right;
  width: 300px;
}

.price-list--promo > em {
  text-decoration: line-through;
  font-weight: normal;
  margin-left: 10px;
}

.price-list--promo {
  font-weight: bold;
  line-height: 2.4em;
}

.domain--list-more {
  color: #74A345;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;
}