// PRIMARY STYLE 

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 100%;
  font-size: 1.6rem;
  font-family: sans-serif;
  color: #444444;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// END PRIMARY STYLE 